{% extends 'info/base.html' %}

{% block title %} Información de Aviso {% endblock %}

{% block css %}
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='css/info.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='css/fotos.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='css/comentarios.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="info-aviso">
    <h1>Adoptando Ayudo - Información de Aviso de Adopción</h1>
    {% if aviso %}
        <h2>Aviso # {{ aviso.id }}</h2>
        <div class="lugar">
            <h3>Lugar</h3>
            <div class="lugar">
                <label>Región</label>
                <p>{{ aviso.region }}</p>
            </div>
            <div class="lugar">
                <label>Comuna</label>
                <p>{{ aviso.comuna }}</p>
            </div>
            {% if aviso.sector %}
                <div class="lugar">
                    <label>Sector</label>
                    <p>{{ aviso.sector }}</p>
                </div>
            {% endif %}
        </div>
        <div class="contacto">
            <h3>Contacto de esta publicación</h3>
            <div class="contacto">
                <label>Nombre</label>
                <p>{{ aviso.nombre }}</p>
            </div>
            <div class="contacto">
                <label>Email</label>
                <p>{{ aviso.email }}</p>
            </div>
            {% if aviso.celular %}
                <div class="contacto">
                    <label>Número de celular</label>
                    <p>{{ aviso.celular }}</p>
                </div>
            {% endif %}
            {% if contactos %}
                <div class="contacto">
                    <label>Contactar por</label>                    
                    <ul>
                        {% for contacto in contactos %}
                            <li>
                                {{ contacto.nombre }}: {{ contacto.identificador }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="mascota">
            <h3>Mascota en adopción</h3>
            <div class="mascota">
                <label>Tipo</label>
                {% if aviso.tipo == "gato" %}
                    <p>Gato</p>
                {% elif aviso.tipo == "perro" %}
                    <p>Perro</p>
                {% endif %}
            </div>
            <div class="mascota">
                <label>Cantidad</label>
                <p>{{ aviso.cantidad }}</p>
            </div>
            <div class="mascota">
                <label>Edad</label>
                <p>{{ aviso.edad }}</p>
            </div>
            <div class="mascota">
                <label>Unidad de medida de la edad</label>
                {% if aviso.unidad_medida == "m" %}
                    <p>Meses</p>
                {% elif aviso.unidad_medida == "a" %}
                    <p>Años</p>
                {% endif %}
            </div>
            <div class="mascota">
                <label>Fecha disponible para entrega</label>
                <p>{{ aviso.fecha_entrega }}</p>
            </div>
            {% if aviso.descripcion %}
                <div class="mascota">
                    <label>Descripción</label>
                    <p>{{ aviso.descripcion }}</p>
                </div>
            {% endif %}
            <div class="mascota-fotos" style="text-align: center;">
                <label>Fotos</label><br>
                <div class="fotos-container">
                    {% for foto in fotos %}
                        <img src="{{ url_for('static', filename=foto.ruta_archivo) }}" alt="foto" class="foto-chica" onclick="verFoto(this)"><br>
                    {% endfor %}
                </div>
            </div>
            <div id="modalFoto" class="modal" style="display: none;">
                <img id="fotoGrande" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==" alt="Foto ampliada">
                <button onclick="cerrarModal()" style="align-self: center;">Cerrar</button>
            </div>
        </div>
        <div class="comentarios">
            <div class="agregar-comentario">
                <p>Escribe un comentario para el aviso</p>
                <form id="com-form">
                    <input type="hidden" id="aviso-id" value="{{ aviso.id }}">
                    <label>
                        Nombre
                        <input type="text" name="com-name" id="com-name" minlength="3" maxlength="80" required>
                    </label>
                    <label>
                        Comentario
                        <textarea name="com-text" id="com-text-area" cols="50" rows="4" minlength="5" required></textarea>
                    </label>
                    <button type="button" id="submit-com-btn">Agregar comentario</button>
                </form>
                <div id="val-box-c" hidden style="max-width: 700px; margin: 20px auto;">
                    <h2 id="val-msg-c"></h2>
                    <ul id="val-list-c"></ul>
                </div>
            </div>
            <div id="com-list">
                <p id="no-coms">Aún no hay comentarios para este aviso.</p>
            </div>
        </div>
    {% else %}
        <p>No se encontró la información del aviso.</p>
    {% endif %}
</div>
<div class="botones" style="text-align: center; margin-top: 40px;">
    <a href="{{ url_for('listado', page=1) }}" id="ver_listado" class="boton">Volver al listado de avisos de adopción</a>
    <a href="{{ url_for('portada') }}" id="portada" class="boton">Volver a la portada</a>
</div>
{% endblock content %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/look-photos.js') }}"></script>
<script src="{{ url_for('static', filename='js/comentarios.js') }}"></script>
{% endblock %}